@page
@model Instagram.Pages.Auth.AuthenticateModel
@{
    ViewData["Title"] = "Authenticate";
}

<h1>Authenticate</h1>

<form method="post">
    Login:
    <input name="login"/>
    Password
    <input name="password"/>
    <input type="button" value="LogIn"/>
</form>
