@page
@model Instagram.Pages.Auth.RegistrationModel
@{
    ViewData["Title"] = "Registration";
}

<h1>Registration</h1>

<form method="post">
    Login:
    <input name="name" />
    Password
    <input name="password" />
    <input type="submit" value="Registrate" />
</form>